#account_button{font-weight:bold;border-right:1px solid black;margin-right:20px;padding-right:20px;cursor:pointer}@media screen and (max-width: 768px){#account_button{-webkit-box-ordinal-group:2;-moz-order:1;-ms-flex-order:1;order:1}}
