/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@use '../styles/assets';

/* ------------------------------------------------------------------------------
	CHECKOUT BUTTON & INFO:
	- ":global" wrapped around IDs prevents them from being changed by CSS Modules.
  ------------------------------------------------------------------------------- */

#checkout_button_and_info {
	text-align: right;
	:global(button.snipcart-checkout) {
		background-color: inherit;
		border: none;
		cursor: pointer;
		margin: 0;
		padding: 0;
		width: 48px; // Same width of the shopping cart image.
		height: 48px; // Same height of the shopping cart image.
	}
	:global(#snipcart-items-count-and-price) {
		margin-top: 5px;
	}

	// Responsiveness rules:
	@media screen and (max-width: assets.$tablet-width) {
		@include assets.order(1);
		margin-left: auto;
	}

}