/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@use '../styles/assets';

/* ------------------------------------------------------------------------------
	CHECKOUT BUTTON & INFO:
	- ":global" wrapped around IDs prevents them from being changed by CSS Modules.
  ------------------------------------------------------------------------------- */

#checkout_button_and_info {
	font-size: assets.$typo-small-size;
	text-align: right;
	:global(button.snipcart-checkout) {
		@include assets.flexbox();
		@include assets.justify-content(flex-end);
		float: right;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		background-color: inherit;
		background-image: url("../public/img/layout/shopping-cart.svg");
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		margin: 0;
		padding: 0;
		width: 48px; // Same width of the shopping cart image.
		height: 48px; // Same height of the shopping cart image.
		
		:global(.snipcart-items-count) {
			@include assets.border-radius(50%);
			min-width: 15px;
			height: 15px;
			line-height: 15px;
			padding: 5px;
			font-family: inherit;
			font-size: inherit;
			background-color: assets.$orange-button;
		  color: white;
			font-weight: 700;
			display: inline-block;
		}
	}

	// Responsiveness rules:
	@media screen and (max-width: assets.$tablet-width) {
		@include assets.order(1);
		margin-left: auto;
	}

}