/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@use '../styles/assets';

/* ------------------------------------------------------------------------------
	HEADER:
	- ":global" wrapped around IDs prevents them from being changed by CSS Modules.
  ------------------------------------------------------------------------------- */

#header {
	position: fixed;
	top: 0;
  bottom: 0;
	width: 100%;
	min-width: assets.$min-width;
	background-color: white;
	height: assets.$header-height;
	z-index: 9999;
	border-bottom: 1px solid darken(assets.$gray-bg, 10%);
	:global(#header-content) {
		@include assets.flexbox();
		@include assets.justify-content(space-between);
		height: inherit;
		max-width: assets.$max-width;
		padding: 0 assets.$lateral-margin;
		margin: 0 auto;

		// Logo:
		:global(#header-logotipo) {
			background: url("../public/img/layout/logo-preto-faixa-grande.png"); // Fallback for browsers that don't support SVG as CSS background-image (credit: https://css-tricks.com/a-complete-guide-to-svg-fallbacks/).
			background: url("../public/img/layout/logo-preto-faixa-grande.svg"),
									linear-gradient(transparent, transparent);
			background-repeat: no-repeat;
			background-position: left center;
			height: inherit;
			width: 320px;	// Logo [large version] width.		
		}		
		
		// Services icons:
		:global(#header-services) {
			height: inherit;
			text-align: right;
			ul {
				height: inherit;
				li {
					height: inherit;
					display: inline-block;
					&:not(:first-child) {
						padding-left: 25px;
					}
					a {
						display: inline-block;
						height: inherit;
						text-decoration: none;
					}
				}
			}
		}
	}

	// Responsiveness rules:
	@media screen and (max-width: assets.$tablet-width) {
		:global(#header-content) {
			
			// Logo:
			:global(#header-logotipo) {
				background: url("../public/img/layout/logo-preto-faixa-pequena.png");
				background: url("../public/img/layout/logo-preto-faixa-pequena.svg"),
										linear-gradient(transparent, transparent);
				background-repeat: no-repeat;
				background-position: left center;
				width: 250px;	// Logo [small version] width.			
			}		

			// Services icons:
			:global(#header-services) {
				ul {
					li {
						&:not(:first-child) {
							padding-left: 15px;
						}
					}
				}
			}

		}
	}
	@media screen and (max-width: assets.$smartphone-width) {
		:global(#header-content) {

			// Logo:
			:global(#header-logotipo) {
				width: 100%;
				background-position: center;		
			}		

			// Services icons:
			:global(#header-services) {
				display: none;
			}

		}
	}
}

/* --------------------------------------------------------------------------
	Fallbacks for browsers that don't support flexbox and/or svg as img source:
  --------------------------------------------------------------------------- */

:global(.no-svgasimg),
:global(.no-flexbox) {
  #header {
		:global(#header-content) {

			// Logo:
			:global(#header-logotipo) {
				display: block;
				width: 100%;
				background-position: center;		
			}		

			// Services icons:
			:global(#header-services) {
				display: none;
			}

		}
	}
}