/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@use '../styles/assets';

/* ------------------------------------------------------------------------------
	INDEX BOOK:
	- Books as seen in the indexes;
	- ":global" wrapped around IDs prevents them from being changed by CSS Modules.
  ------------------------------------------------------------------------------- */

li.index_book {
	@include assets.flex-basis(180px); // This value must be kept in accordance with the crop value appended to the image base-url (IndexBook.js component).
	@include assets.box-shadow(1px 1px 2px gray);
	margin: 0 0 60px 130px;
	background-color: white;
	
	img {
		display: block;
	}
	
	:global(.index_book_text) {
		text-align: center;
		padding: 0 10px 12px 10px;
		font-size: assets.$typo-small-size;
		line-height: assets.$line-height-small-size;
		font-family: inherit;
		a {
			text-decoration: none;
			color: inherit;
		}
		:global(.index-book-text-format-ebook),
		:global(.index-book-text-format-livro),
		:global(.index_book_text_title),
		:global(.index_book_text_author),
		:global(.index_book_text_price) {
			margin-bottom: 8px;
		}
		:global(button.snipcart-add-item),
		:global(.index_book_text_unavailable) {
			@include assets.border-radius(8px);
			padding: 6px 20px;
			color: white;
			text-transform: uppercase;
			font-weight: 400;
			font-family: inherit;
			font-size: inherit;
			line-height: inherit; 
		}
		:global(button.snipcart-add-item) {
			border: none;
			background-color: assets.$orange-button;
			cursor: pointer;
		}
		:global(.index_book_text_unavailable) {
			display: none;
		}
		:global(.index-book-text-format-ebook),
		:global(.index-book-text-format-livro) {
			@include assets.border-radius(0 0 8px 8px);
			color: white;
			font-weight: 400;
			display: inline-block;
			padding: 1px 8px;
		}
		:global(.index-book-text-format-livro) {
			background-color: #ebd697;
		}
		:global(.index-book-text-format-ebook) {
			background-color: #b5cceb;
		}
		:global(.index_book_text_title) {
			font-weight: 400;
		}
		:global(.index_book_text_price) {
			font-size: 120%;
			:global(.index_book_text_inactive_price) {
				padding-right: 5px;
				color: lighten(black,70%);
				text-decoration: line-through;
			}
		}
	}

	// For unavailable itens, we hide the "buy" button and show the "unavailable" sign:
	&:global(.unavailable) {
		:global(.index_book_text) {
		  :global(.index_book_text_price) {
				display: none;
			}
			:global(button.snipcart-add-item) {
				display: none;
			}
			:global(.index_book_text_unavailable) {
				background-color: #fc6a67;
				display: inline-block;
			}
		}
	}

	// Responsiveness rules:
	@media screen and (max-width: assets.$principal-max-width-plus-lateral-margins) {
		margin: 0 40px 60px 40px;
	}
}
