/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@use '../styles/assets';

/* ------------------------------------------------------------------------------
	MASTHEAD:
	- ":global" wrapped around IDs prevents them from being changed by CSS Modules.
  ------------------------------------------------------------------------------- */

#masthead {
	width: 100%;
	background-color: white;
	height: 60px; // It's the logo height.
	border-bottom: 1px solid darken(assets.$gray-bg, 10%);
	:global(#masthead-principal) {
		@include assets.flexbox();
		@include assets.justify-content(space-between);
		height: inherit;
		max-width: assets.$principal-max-width;
		padding: 0 assets.$lateral-margin;
		margin: 0 auto;

		// Logo:
		:global(#masthead-logotipo) {
			background: url("../public/img/layout/logo-preto-faixa-grande.svg"),
									linear-gradient(transparent, transparent);
			background-repeat: no-repeat;
			background-position: left center;
			height: inherit;
			width: 320px;	// Logo [large version] width.		
		}		
		
		// Services icons:
		:global(#masthead-services) {
			height: inherit;
			text-align: right;
			ul {
				height: inherit;
				li {
					height: inherit;
					display: inline-block;
					&:not(:first-child) {
						padding-left: 25px;
					}
					a {
						display: inline-block;
						height: inherit;
						text-decoration: none;
					}
				}
			}
		}
	}

	// Responsiveness rules:
	@media screen and (max-width: assets.$tablet-width) {
		:global(#masthead-principal) {
			
			// Logo:
			:global(#masthead-logotipo) {
				background: url("../public/img/layout/logo-preto-faixa-pequena.svg"),
										linear-gradient(transparent, transparent);
				background-repeat: no-repeat;
				background-position: left center;
				width: 250px;	// Logo [small version] width.			
			}		

			// Services icons:
			:global(#masthead-services) {
				ul {
					li {
						&:not(:first-child) {
							padding-left: 15px;
						}
					}
				}
			}

		}
	}
	@media screen and (max-width: assets.$smartphone-width) {
		:global(#masthead-principal) {

			// Logo:
			:global(#masthead-logotipo) {
				width: 100%;
				background-position: center;		
			}		

			// Services icons:
			:global(#masthead-services) {
				display: none;
			}

		}
	}
}