/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@use '../styles/assets';

/* ------------------------------------------------------------------------------
	SEARCH FORM:
	- ":global" wrapped around IDs prevents them from being changed by CSS Modules.
  ------------------------------------------------------------------------------- */

#search_form {
	$form-size: 320px;
	@include assets.flex-basis($form-size);

	form {
		@include assets.flexbox();
		input[type=text] {
			@include assets.flex-basis(100%);		
		}
	}

	// Responsiveness rules:
	@media screen and (max-width: assets.$smartphone-width) {
		@include assets.flex-basis(100%);
		@include assets.order(2);
		margin-top: 20px;
		
		form {
		  width: assets.$principal-min-width;
			margin: 0 auto;
		}
	}

}