/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@import '../styles/assets';

/* ------------------------------------------------------------------------------
	SHOWCASE PAGINATION:
	- Pagination links for the showcase;
	- ":global" wrapped around IDs prevents them from being changed by CSS Modules.
  ------------------------------------------------------------------------------- */

.showcase_pagination {
	$button-height: 30px;
	@include flexbox();
	@include align-items(center);
	:global(#information) {
		@include flex-basis(60%);
		margin: 0 10px;
		color: $orange-button;
		text-align: center;	
		font-weight: 600;
		font-size: $typo-small-size;
		line-height: $line-height-small-size;
	}
	:global(#previous-page),
	:global(#next-page) {
		@include flex-basis(40%);	
		:global(#previous-page-button) {
			float: right;
		}
		:global(#previous-page-button),
		:global(#next-page-button) {
			@include flexbox();
			text-decoration: none;
			color: white;
			cursor: pointer;
			&:global(.inactive) {
				display: none;
			}
			:global(.text) {
				min-height: $button-height;
				background-color: $orange-button;
				font-weight: bold;
				@include button-text-shadow;
				@include transition(background-color 0.2s linear);
				font-size: $typo-small-size;
			}	
			:global(.arrow-left),
			:global(.arrow-right) {
			  width: 0; 
			  height: 0;
			}
		}
		:global(#previous-page-button) {
			:global(.text) {
				@include border-radius(0 4px 4px 0);
				padding: 0 10px 0 5px;
			}
			:global(.arrow-left) {
			  border-top: ($button-height/2) solid transparent;
			  border-bottom: ($button-height/2) solid transparent; 
			  border-right: ($button-height/2) solid $orange-button; 
				@include transition(border-right 0.2s linear);
			}
		}
		:global(#next-page-button) {
			:global(.text) {
				@include border-radius(4px 0 0 4px);
				padding: 0 5px 0 10px;
			}
			:global(.arrow-right) {
			  border-top: ($button-height/2) solid transparent;
			  border-bottom: ($button-height/2) solid transparent;
			  border-left: ($button-height/2) solid $orange-button;
				@include transition(border-left 0.2s linear);
			}
		}
	  &:hover {
			:global(#previous-page-button) {
				:global(.text) {
		    	background-color: $orange-button-hover;
				}
				:global(.arrow-left) {
					border-right: ($button-height/2) solid $orange-button-hover;
				}
			}
			:global(#next-page-button) {
				:global(.text) {
		    	background-color: $orange-button-hover;
				}
				:global(.arrow-right) {
					border-left: ($button-height/2) solid $orange-button-hover;
				}
			}
	  }
	}	

	// Responsiveness rules:
	@media screen and (max-width: $large-device-width) {
		:global(#information) {
			@include flex-basis(90%);
		}
		:global(#previous-page),
		:global(#next-page) {
			@include flex-basis(10%);
			:global(#previous-page-button),
			:global(#next-page-button) {
				:global(.text) {
					display: none;
				}		
			}
		}
	}
}