/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@use '../styles/assets';

/* ------------------------------------------------------------------------------
	SHOWCASE PAGINATION:
	- Pagination links for the showcase;
	- ":global" wrapped around IDs prevents them from being changed by CSS Modules.
  ------------------------------------------------------------------------------- */

.showcase_pagination {
	$button-height: 30px;
	@include assets.flexbox();
	@include assets.align-items(center);
	:global(#information) {
		@include assets.flex-basis(60%);
		margin: 0 10px;
		color: assets.$orange-button;
		text-align: center;	
		font-weight: 700;
		font-size: assets.$typo-small-size;
		line-height: assets.$line-height-small-size;
	}
	:global(#previous-page),
	:global(#next-page) {
		@include assets.flex-basis(40%);	
		:global(#previous-page-button) {
			float: right;
		}
		:global(#previous-page-button),
		:global(#next-page-button) {
			@include assets.flexbox();
			text-decoration: none;
			color: white;
			cursor: pointer;
			&:global(.inactive) {
				display: none;
			}
			:global(.text) {
				min-height: $button-height;
				background-color: assets.$orange-button;
				font-weight: 700;
				font-size: assets.$typo-small-size;
			}	
			:global(.arrow-left),
			:global(.arrow-right) {
			  width: 0; 
			  height: 0;
			}
		}
		:global(#previous-page-button) {
			:global(.text) {
				@include assets.border-radius(0 4px 4px 0);
				padding: 0 10px 0 5px;
			}
			:global(.arrow-left) {
			  border-top: ($button-height/2) solid transparent;
			  border-bottom: ($button-height/2) solid transparent; 
			  border-right: ($button-height/2) solid assets.$orange-button; 
			}
		}
		:global(#next-page-button) {
			:global(.text) {
				@include assets.border-radius(4px 0 0 4px);
				padding: 0 5px 0 10px;
			}
			:global(.arrow-right) {
			  border-top: ($button-height/2) solid transparent;
			  border-bottom: ($button-height/2) solid transparent;
			  border-left: ($button-height/2) solid assets.$orange-button;
			}
		}
	}	

	// Responsiveness rules:
	@media screen and (max-width: assets.$large-device-width) {
		:global(#information) {
			@include assets.flex-basis(90%);
		}
		:global(#previous-page),
		:global(#next-page) {
			@include assets.flex-basis(10%);
			:global(#previous-page-button),
			:global(#next-page-button) {
				:global(.text) {
					display: none;
				}		
			}
		}
	}
}