/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@use 'assets';

/* ---------------------------------------------
	BOOK:
	- ":global" wrapped around IDs prevents them from being changed by CSS Modules.
  ---------------------------------------------- */

#book {
  opacity: 1;
	:global(#inexistent-book) {
		text-align: center;
	}
	&:global(.loading) {
		> * {	
			transition: opacity 0.05s linear;
			opacity: 0.3;
		}
	}

	article {
		@include assets.flexbox();
		@include assets.flex-wrap(wrap);
		@include assets.align-items(center);
		width: assets.$large-device-width - (assets.$lateral-margin*2);
		margin: 0 auto;

		:global(#book-image) {
			@include assets.flex(0 0 260px); // This value must be kept in accordance with the crop value appended to the image base-url (Book page).
			img {
				display: block;
			}
			:global(.humana_indica) {
				$label-height: 25px;
				@include assets.border-radius(5px);
				// @include assets.box-shadow(1px 1px 2px gray);
				font-size: assets.$typo-small-size;
				line-height: $label-height;
				background-color: red;
				margin: -$label-height/2 65px 0 65px;
				height: $label-height;
				width: 130px;
				text-align: center;
				color: white;
				font-weight: 700;
				position: absolute;
			}
		}

	  :global(#book-info) {
			@include assets.flex(1);
			margin: 0 50px 0 30px;
			header {
				padding-bottom: 20px;
				h1 {
					font-weight: 700;
				}
			}
			:global(.info-item) {
				font-size: assets.$typo-small-size;
				line-height: assets.$line-height-small-size;
				padding-bottom: 8px;
				:global(.title) {
					font-weight: 700;
				}
			}
		}

		:global(#book-price-and-button) {
			@include assets.flex(0 0 220px);
			padding-left: 50px;
			border-left: 2px solid assets.$gray-typo;
			:global(.original_price) {
				color: lighten(black,65%);
				text-decoration: line-through;
			}
			:global(.price) {
				font-size: assets.$typo-large-size;
				line-height: assets.$line-height-large-size;
				font-weight: 400;
				padding-bottom: 10px;
			}
			:global(button.snipcart-add-item),
			:global(.unavailable) {
				@include assets.generic-button;
			}
			:global(button.snipcart-add-item) {
				@include assets.buy-button;
				@include assets.buy-button-hover;
			}
			:global(.unavailable) {
				@include assets.unavailable-button;
			}
		}

		:global(#book-unavailable),
		:global(#book-description) {
			@include assets.flex(1 0 100%);
		}
		
		:global(#book-unavailable) {
			@include assets.border-radius(8px);
			margin-top: 30px;
			background-color: #fc6a67;
			color: white;
			padding: 10px 15px;
			font-weight: 400;
		}

		:global(#book-description) {
			margin-top: 25px;
			h1 {
				padding-bottom: 15px;
			}
		}
		
		:global(#previous-page) {
			$button-height: 30px;
			margin-top: 20px;
			:global(#previous-page-button) {
				@include assets.flexbox();
				float: right;
				text-decoration: none;
				color: white;
				cursor: pointer;
				&:global(.inactive) {
					display: none;
				}
				:global(.text) {
					@include assets.border-radius(0 4px 4px 0);
					padding: 0 10px 0 5px;
					min-height: $button-height;
					background-color: assets.$orange-button;
					font-weight: 700;
					font-size: assets.$typo-small-size;
				}	
				:global(.arrow-left) {
				  width: 0; 
				  height: 0;
				  border-top: ($button-height/2) solid transparent;
				  border-bottom: ($button-height/2) solid transparent; 
				  border-right: ($button-height/2) solid assets.$orange-button; 
				}
			}
		}			
	}
	
	// Responsiveness rules:
	@media screen and (max-width: assets.$large-device-width) {
		article {
			width: assets.$tablet-width - (assets.$lateral-margin*2);
		  :global(#book-info) {
				margin: 0 0 0 30px;
			}
			:global(#book-price-and-button) {
				@include assets.flex(1 0 100%);
				padding: 20px 0 0 0;
				border-left: none;
			}
		}
	}
	@media screen and (max-width: assets.$tablet-width) {
		article {
			width: 100%;
			@include assets.flex-direction(column);
			:global(#book-image),
		  :global(#book-info),
			:global(#book-price-and-button) {
				@include assets.flex(1 0 100%);
			}
			:global(#book-info) {
				margin: 30px 0 0 0;
			}
			:global(#book-price-and-button) {
				@include assets.flexbox();
				@include assets.flex-direction(column);
				@include assets.align-items(center);
			}
		}
	}

}
