/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@use 'assets';

/* ---------------------------------------------
	BASIC LAYOUT & GLOBAL DEFINITIONS:
  ---------------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px !important;	
	font-weight: 300;
	background-color: black;
	img {
		max-width: 100%;
		height: auto;						
	}		
  // Making sure that elements with the hidden attribute won't be shown:
  // - https://html.spec.whatwg.org/multipage/interaction.html#the-hidden-attribute
  [hidden], area, base, basefont, datalist, head, link, meta, noembed,
  noframes, param, rp, script, source, style, template, track, title {
    display: none;
  }

}

#main {
	background-color: assets.$gray-bg;
	
	#content {
		max-width: assets.$max-width;
		padding: 40px assets.$lateral-margin;
		margin: 0 auto;
		
	}		
}

/* ---------------------------------------------
	SNIPCART OVERRIDES:
  ---------------------------------------------- */
	
.snipcart { 
	* {
		font-family: 'Open Sans', sans-serif !important;
	}
}

// ----------
// PROVISÓRIO:
#main {
	#content {
		text-align: center;
		ul {
			margin-top: 20px;
			li {
				padding: 10px;
				font-size: 1.5rem;
				span.format {
					font-size: 1.1rem;
					color: gray;
				}
			}
		}
		#livro {
			margin-top: 20px;
		  display: flex;
			flex-direction: column;
		  align-items: center;
		  justify-content: center;
			h1 {
				font-size: 1.5rem;
				padding-bottom: 10px;
			}
			button {
				margin: 15px 0;
				font-size: 1.4rem;
				background-color: orange;
			}
			.format {
				margin-top: 15px;
				font-size: 1.3rem;
				font-weight: bold;
			}
		}
	}
}
// (fim)
// ----------
