/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@use 'assets';

/* ---------------------------------------------
	BASIC LAYOUT & TYPOGRAPHY:
  ---------------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;	
	background-color: assets.$gray-bg;
	min-width: assets.$body-min-width;
	
	div#__next {
	  @include assets.flexbox();
		@include assets.flex-direction(column);
	  min-height: 100vh;

		img {
			max-width: 100%;
			height: auto;						
		}		
	
	  // Making sure that elements with the hidden attribute won't be shown:
	  // - https://html.spec.whatwg.org/multipage/interaction.html#the-hidden-attribute
	  [hidden], area, base, basefont, datalist, head, link, meta, noembed,
	  noframes, param, rp, script, source, style, template, track, title {
	    display: none;
	  }
	
		// Message for incompatible browser: it starts hidden and is shown if an effect in the Masthead component detects IE as the browser:
		#incompatible-browser {
			display: none;
			padding: 50px assets.$lateral-margin;
			margin: 0 auto;
			font-size: assets.$typo-normal-size;
			line-height: assets.$line-height-normal-size;
			font-weight: 300;
		}

		#principal {
			@include assets.flex(1);

			#principal-nucleus {
				@include assets.flexbox();
				@include assets.flex-wrap(wrap);
				@include assets.justify-content(space-between);
				@include assets.align-items(center);
				max-width: assets.$principal-max-width;
				padding: 50px assets.$lateral-margin;
				margin: 0 auto;
				font-size: assets.$typo-normal-size;
				line-height: assets.$line-height-normal-size;
				font-weight: 300;
				
				.content {
					@include assets.flex-basis(100%);
					margin-top: 60px;
					h1 {
						font-size: assets.$typo-large-size;
						line-height: assets.$line-height-large-size;
						font-weight: 400;
					}
					h2 {
						font-size: assets.$typo-big-size;
					}
					a {
						color: inherit;
					}
					strong {
						font-weight: 700;
					}
					em,
					blockquote {
						font-style: italic;
					}
					.orange-text {
						color: assets.$orange-button;
					}
					
					.formatted-text {
						h2,	
						p,
						ul,
						ol {
							padding-bottom: 15px;
						}	
						ul,
						ol {
							list-style-position: inside;
						}
						ul {
							list-style-type: disc;
						}
						ol {
							list-style-type: decimal;
						}
					}
				}
			}		

		}		
	}

	// Responsiveness rules:
	@media screen and (max-width: assets.$tablet-width) {
		div#__next {
			#principal {
				#principal-nucleus {
					@include assets.justify-content(center);
					padding-top: 30px;

					.content {
						@include assets.order(3);
						margin-top: 50px;
					}		
				}
			}
		}
	}
	@media screen and (max-width: assets.$smartphone-width) {
		div#__next {
			#principal {
				#principal-nucleus {
					padding-top: 20px;
				}
			}
		}
	}

}

/* ---------------------------------------------
	SNIPCART OVERRIDES:
  ---------------------------------------------- */
	
.snipcart { 
	* {
		font-family: 'Open Sans', sans-serif !important;
	}
}

/* -------------------------------------------------
	FALLBACK FOR BROWSERS INCOMPATIBLE WITH FLEXBOX:
  -------------------------------------------------- */

.no-flexbox {
	div#__next {
		header,
		#principal,
		footer {
			display: none !important; // We hide the store for these extremely old browsers...
		}
		#incompatible-browser {
			display: block !important; // ... and show the "Incompatible browser" message.
		}
	}
}