/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@use 'assets';

/* ---------------------------------------------
	BASIC LAYOUT & GLOBAL DEFINITIONS:
  ---------------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px !important;	
	font-weight: 300;
	background-color: black;
	img {
		max-width: 100%;
		height: auto;						
	}		
}

#main {
	background-color: assets.$gray-bg;
	#content {
		max-width: assets.$max-width;
		padding: 0 assets.$lateral-margin;
		margin: assets.$header-height auto 0;
	}
}