/* ---------------------------------------------
	MIXINS, VARIABLES & EXTENDS
  ---------------------------------------------- */

@use 'assets';

/* ---------------------------------------------
	INDEX:
	- ":global" wrapped around IDs prevents them from being changed by CSS Modules.
  ---------------------------------------------- */

#index {
	@include assets.flexbox();
	@include assets.flex-wrap(wrap);
	
	// Showcase filters:
	:global(#showcase-filters-order) {
		$block-space: 10px;
		$list-line-height: 17px;
		@include assets.flex(0 0 20%);
		font-size: assets.$typo-small-size;
		:global(.order-header),
		:global(.filters-header) {
			margin-bottom: $block-space; 
		}
		> ul {
			> li {
				margin-bottom: $block-space;
				:global(.filter-title) {
					color: assets.$gray-typo;
					font-weight: 700;
					padding-bottom: 10px;
					min-height: $list-line-height;
					line-height: $list-line-height;
					&:global(.active) {
						background-image: url("../public/img/layout/filter-button-clean.svg"),
												linear-gradient(transparent, transparent);
					 padding-left: 20px;
					 color: black;
					 background-repeat: no-repeat;
					 background-position-y: 1px; // 1px to a perfect alignment with the text.
					 background-position-x: left;
					 cursor: pointer !important;
					}
				}
				> ul {
					> li {
						background-image: url("../public/img/layout/checkbox-unchecked.svg"),
												linear-gradient(transparent, transparent);
						background-repeat: no-repeat;
						background-position-y: 1px; // 1px to a perfect alignment with the text.
						background-position-x: left;
						padding: 0 0 10px 20px;
						min-height: $list-line-height;
						line-height: $list-line-height;
						cursor: pointer !important;
						text-transform: lowercase;
						font-weight: 300;
						&:global(.active) {
							background-image: url("../public/img/layout/checkbox-checked.svg"),
													linear-gradient(transparent, transparent);
						 font-weight: 700;	
						}
					}
				}
			}
		}
	}
	
	// Showcase:
	:global(main#showcase) {
		@include assets.flex(0 0 80%);
	  opacity: 1;
		:global(ul#showcase-books-list) {
			@include assets.flexbox();
			@include assets.flex-wrap(wrap);
			@include assets.justify-content(space-around);
			-webkit-justify-content: space-evenly !important;
			@include assets.align-items(flex-start)
		}
		:global(#empty-showcase) {
			font-size: assets.$typo-normal-size;
			line-height: assets.$line-height-normal-size;
			font-weight: 300;
			text-align: center;
			padding: 0 20px;
		}
		&:global(.loading) {
			> * {	
				transition: opacity 0.05s linear;
				opacity: 0.3;
			}
		}
	}

	// Responsiveness rules:
	@media screen and (max-width: assets.$tablet-width) {
		:global(#showcase-filters-order),
		:global(main#showcase) {
			@include assets.flex(0 0 100%);
		}
		:global(#showcase-filters-order) {
			text-align: center;
			> ul {
				> li {
					:global(.filter-title) {
						display: table;
						margin: 0 auto;
					}
					> ul {
						> li {
							display: table;
							margin: 0 auto;
						}
					}
				}
			}
		}
		:global(main#showcase) {
			padding-top: 30px;
		}
	}	

}